@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Noto Sans;
  font-weight: normal;
  src: url("src/assets/fonts/noto-sans-v38-latin_latin-ext-regular.woff2");
}

@font-face {
  font-family: Noto Sans;
  font-weight: bold;
  src: url("src/assets/fonts/noto-sans-v38-latin_latin-ext-700.woff2");
}

@font-face {
  font-family: Noto Serif;
  font-weight: bold;
  src: url("src/assets/fonts/noto-serif-v23-latin_latin-ext-700.woff2f");
}

@layer base {
  /* Base styles */
  html {
    font-family: Noto Sans;
    overflow: scroll;
  }

  h1 {
    @apply font-serif text-xl font-bold mt-4;
  }

  h2 {
    @apply text-lg font-bold mt-4;
  }

  h3 {
    @apply text-base font-bold mt-4;
  }

  p {
    @apply mt-4;
  }

  hr {
    @apply w-full mt-4;
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }

  p {
    @apply mt-0;
  }

  img {
    @apply m-0 p-0;
  }

  /* Blog post and About page styles */
  #post,
  #about,
  #blog {
    ol>li {
      @apply mt-4 list-decimal list-inside;
    }

    li p {
      @apply inline;
    }

    li::marker {
      @apply font-bold;
    }

    ul {
      @apply list-disc list-inside;
    }

    li>a {
      @apply underline-offset-4;
    }

    li>a:hover {
      @apply underline;
    }
  }
}